@font-face {
  font-family: "fira-code";
  src: url("/font/FiraCode-Light.woff2") format("woff2");
}

@font-face {
  font-family: "staatliches";
  src: url("/font/Staatliches-Regular.woff2") format("woff2");
}

h1, h2, h3 {
  font-family: "staatliches", sans-serif;
}

body {
  background-image: url("../img/background.jpg");
  color: #f7f7f7;
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-family: "fira-code", monospace;
}

main {
  background: #444444;
  border: 2px solid #ddddddee;
  width: 600px;
  margin: auto;
  margin-top: 110px;
  text-align: center;
}

header {
  background: #444444;
  border-bottom: 2px solid #ddddddee;
  border-left: 2px solid #ddddddee;
  border-right: 2px solid #ddddddee;
  text-align: center;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
}

footer {
  background: #444444;
  border-top: 2px solid #ddddddee;
  border-left: 2px solid #ddddddee;
  border-right: 2px solid #ddddddee;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
}

footer p {
  margin: 5px;
}

header, #stats-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

h3 {
  margin: 5px;
  font-size: 1em;
}

a {
  color: #f7f7f7;
}

table {
  border-collapse: collapse;
}

td {
  text-align: right;
  padding: 10px;
}

h1, h2 {
  margin: 5px;
}

h1 {
  font-size: 4em;
}

td span {
  font-weight: bold;
  font-size: 1.3em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#text-area {
  border: 2px solid #ddddddee;
  text-align: left;
  margin: 10px;
  padding: 5px;
}

#text-area h2, #text-area h3 {
  text-align: center;
}

.running-ok {
  -webkit-box-shadow: 0px 0px 10px 0px white;
          box-shadow: 0px 0px 10px 0px white;
}

.running.error {
  -webkit-box-shadow: 0px 0px 10px 0px red;
          box-shadow: 0px 0px 10px 0px red;
}

#typing-area {
  display: block;
  height: 30px;
  width: 400px;
  margin: 10px auto;
  text-align: center;
  font-size: 100%;
  font-family: "fira-code";
  -webkit-box-shadow: 0px 0px 10px 0px white;
          box-shadow: 0px 0px 10px 0px white;
}

#typing-area:disabled {
  background: grey;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#play-button {
  background-image: url("/img/play-button.png");
  background-size: 100%;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}

#play-button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px white;
          box-shadow: 0px 0px 5px 0px white;
}

#active-char {
  background: gray;
}

.typing-error {
  color: red;
}

.typed {
  color: darkgray;
}

#stats-diagram {
  background-color: rgba(128, 128, 128, 0.719);
  border: 2px solid #ddddddee;
  margin: 5px;
  height: 100px;
  width: 300px;
}

#stats-area table {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */