@font-face {
  font-family: "fira-code";
  src: url("../font/FiraCode-Light.woff2") format("woff2");
}

@font-face {
  font-family: "staatliches";
  src: url("../font/Staatliches-Regular.woff2") format("woff2");
}

@-webkit-keyframes slide-in-out {
  from {
    margin-left: 180%;
  }

  10% {
    margin-left: 15%;
  }

  90% {
    margin-left: 10%;
  }

  to {
    margin-left: -120%;
  }
}

@keyframes slide-in-out {
  from {
    margin-left: 180%;
  }

  10% {
    margin-left: 15%;
  }

  90% {
    margin-left: 10%;
  }

  to {
    margin-left: -120%;
  }
}

body {
  background-image: url("../img/background.jpg");
  color: #f7f7f7;
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-family: "fira-code", monospace;
}

main {
  background: #444444;
  border: 2px solid #ddddddee;
  width: 600px;
  margin: auto;
  margin-top: 90px;
  text-align: center;
}

header {
  background: #444444;
  border-bottom: 2px solid #ddddddee;
  border-left: 2px solid #ddddddee;
  border-right: 2px solid #ddddddee;
  text-align: center;
  position: fixed;
  margin: 0;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 600px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer {
  background: #444444;
  border-top: 2px solid #ddddddee;
  border-left: 2px solid #ddddddee;
  border-right: 2px solid #ddddddee;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 600px;
}

footer p {
  margin: 5px;
}

#page-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  -webkit-animation: slide-in-out;
  animation: slide-in-out;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#page-heading img {
  height: 50px;
  width: 50px;
}

h1 {
  font-family: "staatliches", sans-serif;
  margin: 3px;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: "staatliches", sans-serif;
  margin: 3px;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-family: "staatliches", sans-serif;
  margin: 3px;
  font-size: 1em;
  text-align: center;
}

a {
  color: #f7f7f7;
}

table {
  border-collapse: collapse;
}

td {
  text-align: right;
  padding: 10px;
}

td span {
  font-weight: bold;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.typing-error {
  color: red;
}

.typed {
  color: darkgray;
}

.running {
  -webkit-box-shadow: 0px 0px 10px 0px white;
  box-shadow: 0px 0px 10px 0px white;
  transition: box-shadow 0.5s ease-in-out;
}

.stopped {
  box-shadow: none;
  transition: box-shadow 0.5s ease-in-out;
}

#text-area {
  border: 2px solid #ddddddee;
  text-align: left;
  margin: 10px;
  padding: 5px;
}

#text-area p {
  margin: 3px;
}

#typing-area {
  display: block;
  height: 30px;
  width: 400px;
  margin: 10px auto;
  text-align: center;
  font-size: 100%;
  font-family: "fira-code";
  -webkit-box-shadow: 0px 0px 10px 0px white;
  box-shadow: 0px 0px 10px 0px white;
}

#typing-area:disabled {
  background: grey;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#typing-area:focus::-webkit-input-placeholder {
  color: transparent;
}

#typing-area:focus:-ms-input-placeholder {
  color: transparent;
}

#typing-area:focus::-ms-input-placeholder {
  color: transparent;
}

#typing-area:focus::placeholder {
  color: transparent;
}

#play-button {
  background-image: url("/img/play-button.png");
  background-size: 100%;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}

#play-button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px white;
  box-shadow: 0px 0px 5px 0px white;
}

#active-char {
  background: gray;
}

#stats-diagram {
  background-color: rgba(128, 128, 128, 0.719);
  border: 2px solid #ddddddee;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 100px;
  width: 250px;
}

#stats-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#stats-area table {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#stats-section {
  border-top: 2px solid #ddddddee;
}